absl-py==2.1.0
accelerate==1.1.1
aiofiles==24.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
altair==5.4.1
annotated-types==0.7.0
anyio==4.6.2.post1
appdirs==1.4.4
arxiv==2.1.3
arxivloader==1.0.2
asgiref==3.8.1
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==24.2.0
backoff==2.2.1
backports.tarfile==1.2.0
bcrypt==4.2.0
beautifulsoup4==4.12.3
bitsandbytes==0.44.1
blinker==1.9.0
blobfile==3.0.0
box2d-py==2.3.5
bs4==0.0.2
build==1.2.2.post1
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
chroma-hnswlib==0.7.6
chromadb==0.5.15
ci-info==0.3.0
click==8.1.7
cloudpickle @ file:///C:/b/abs_8abv3sva4p/croot/cloudpickle_1721657372632/work
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
configobj==5.0.9
configparser==7.1.0
contourpy==1.3.0
cryptography==43.0.3
cycler==0.12.1
dataclasses-json==0.5.14
datasets==3.0.1
debugpy==1.8.6
decorator==5.1.1
deepl==1.19.1
Deprecated==1.2.14
diffusers==0.31.0
dill==0.3.8
distro==1.9.0
durationpy==0.9
emoji==2.14.0
et-xmlfile==1.1.0
etelemetry==0.3.1
eval_type_backport==0.2.0
evaluate==0.4.3
exceptiongroup==1.2.2
executing==2.1.0
faiss-cpu==1.9.0
Farama-Notifications @ file:///C:/b/abs_4b0tss4seo/croot/farama-notifications_1683058817772/work
fastapi==0.115.3
feedparser==6.0.11
filelock==3.16.1
filetype==1.2.0
finnhub-python==2.4.20
fire==0.7.0
fitz==0.0.1.dev2
flatbuffers==24.3.25
fonttools==4.54.1
frontend==0.0.3
frozenlist==1.4.1
fsspec==2024.6.1
ftfy==6.3.1
funcy==2.0
gast==0.6.0
gensim==4.3.3
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.10
google-api-core==2.21.0
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.3
google-pasta==0.2.0
google_search_results==2.4.2
googleapis-common-protos==1.65.0
greenlet==3.1.1
grpcio==1.66.2
grpcio-status==1.62.3
gym @ file:///D:/bld/gym_1673322277499/work
gym-notices @ file:///home/conda/feedstock_root/build_artifacts/gym-notices_1671541680412/work
gymnasium @ file:///C:/b/abs_3bs01l5gju/croot/gymnasium-split_1683295643589/work
h11==0.14.0
h5py==3.12.1
html5lib==1.1
httpcore==1.0.6
httplib2==0.22.0
httptools==0.6.4
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.26.1
humanfriendly==10.0
idna==3.10
importlib_metadata==8.4.0
importlib_resources==6.4.5
ipykernel==6.29.5
ipython==8.27.0
ipywidgets==8.1.5
isodate==0.6.1
itsdangerous==2.2.0
jaraco.context==6.0.1
jax-jumpy @ file:///C:/b/abs_33ls7reh0n/croot/jax-jumpy_1683230558875/work
jedi==0.19.1
Jinja2==3.1.4
jiter==0.6.1
jiwer==3.0.5
joblib==1.4.2
JPype1==1.5.0
jq==1.8.0
jsonlines==4.0.0
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
keras==3.6.0
kiwipiepy==0.18.1
kiwipiepy_model==0.18.0
kiwisolver==1.4.7
konlpy==0.6.0
kubernetes==31.0.0
langchain==0.3.7
langchain-chroma==0.1.4
langchain-community==0.3.7
langchain-core==0.3.17
langchain-experimental==0.3.2
langchain-google-genai==2.0.1
langchain-huggingface==0.1.0
langchain-openai==0.2.3
langchain-teddynote==0.3.12
langchain-text-splitters==0.3.0
langdetect==1.0.9
langgraph==0.2.39
langgraph-checkpoint==2.0.1
langgraph-sdk==0.1.33
langsmith==0.1.137
lark==1.2.2
libclang==18.1.1
lightning==2.4.0
lightning-utilities==0.11.8
llama_models==0.0.42
llama_stack==0.0.42
looseversion==1.3.0
lxml==5.3.0
lz4==4.3.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.23.0
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mkl-service==2.4.0
mkl_fft @ file:///C:/b/abs_f55mv94vyg/croot/mkl_fft_1725370278455/work
mkl_random @ file:///C:/b/abs_21ydbzdu8d/croot/mkl_random_1725370276095/work
ml-dtypes==0.4.1
mmh3==4.1.0
monotonic==1.6
more-itertools==10.5.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multiprocess==0.70.16
mypy-extensions==1.0.0
namex==0.0.8
narwhals==1.13.3
nest-asyncio==1.6.0
networkx==3.3
nibabel==5.3.2
nipype==1.8.6
nltk==3.9.1
numexpr==2.10.1
numpy @ file:///C:/b/abs_c1ywpu18ar/croot/numpy_and_numpy_base_1708638681471/work/dist/numpy-1.26.4-cp310-cp310-win_amd64.whl#sha256=ebb5aa2b36d8afa5ec3231c19e5a1fc75b6d85e7db483f0fb9e77dad58469977
oauthlib==3.2.2
olefile==0.47
onnxruntime==1.19.2
openai==1.54.4
openapi-schema-pydantic==1.2.4
openpyxl==3.1.5
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
opt_einsum==3.4.0
optree==0.13.0
orjson==3.10.10
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.1
pandas==2.2.3
parso==0.8.4
pathlib==1.0.1
pdf2image==1.17.0
peft==0.13.2
pillow==10.4.0
pinecone-client==5.0.1
pinecone-plugin-inference==1.1.0
pinecone-plugin-interface==0.0.7
pinecone-text==0.9.0
platformdirs==4.3.6
plotly==5.24.1
posthog==3.7.0
prompt_toolkit==3.0.48
propcache==0.2.0
proto-plus==1.24.0
protobuf==4.25.5
protoc-gen-openapiv2==0.0.1
prov==2.0.1
psutil==6.0.0
psycopg2==2.9.9
pure_eval==0.2.3
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pycryptodomex==3.21.0
pydantic==2.9.2
pydantic-settings==2.6.0
pydantic_core==2.23.4
pydeck==0.9.1
pydot==3.0.2
pygame==2.1.0
Pygments==2.18.0
pyLDAvis==3.4.1
PyMuPDF==1.24.12
pyparsing==3.1.4
pypdf==5.0.1
PyPika==0.48.9
pyproject_hooks==1.2.0
pyreadline3==3.5.4
pysbd==0.3.4
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-iso639==2024.10.22
python-magic==0.4.27
python-oxmsg==0.0.1
python-pptx==1.0.2
pytorch-lightning==2.4.0
pytz==2024.2
pywin32==306
pyxnat==1.6.2
PyYAML==6.0.2
pyzmq==26.2.0
ragas==0.2.2
rank-bm25==0.2.2
RapidFuzz==3.10.0
rdflib==6.3.2
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.9.2
rpds-py==0.21.0
rsa==4.9
sacremoses==0.1.1
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.13.1
seaborn==0.13.2
selenium==4.26.1
sentence-transformers==3.2.1
sentencepiece==0.2.0
sgmllib3k==1.0.0
shellingham==1.5.4
simplejson==3.19.3
six==1.16.0
smart-open==7.0.5
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.35
stack-data==0.6.3
starlette==0.41.0
streamlit==1.40.0
swig==4.2.1.post0
sympy==1.13.1
tavily-python==0.5.0
tenacity==8.5.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-intel==2.17.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.5.0
tf_keras==2.17.0
threadpoolctl==3.5.0
tiktoken==0.8.0
tokenizers==0.20.1
toml==0.10.2
tomli==2.0.2
torch==2.5.0
torchinfo==1.8.0
torchmetrics==1.5.1
torchvision==0.20.0
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
traits==6.3.2
transformers==4.45.2
trio==0.27.0
trio-websocket==0.11.1
typer==0.12.5
types-requests==2.32.0.20241016
typing-inspect==0.9.0
typing_extensions @ file:///C:/b/abs_0as9mdbkfl/croot/typing_extensions_1715268906610/work
tzdata==2024.2
unstructured==0.16.1
unstructured-client==0.26.1
uritemplate==4.1.1
urllib3==2.2.3
uvicorn==0.32.0
watchdog==5.0.3
watchfiles==0.24.0
wcwidth==0.2.13
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==13.1
Werkzeug==3.0.4
wget==3.2
widgetsnbextension==4.0.13
wikipedia==1.4.0
wolframalpha==5.1.3
wrapt==1.16.0
wsproto==1.2.0
XlsxWriter==3.2.0
xmltodict==0.14.2
xxhash==3.5.0
yarl==1.15.2
zipp==3.20.2
